<div
  class="flex items-center space-x-2 pt-20 mx-auto"
  [ngClass]="{ 'w-4/5': isMobile, 'w-3/5': !isMobile }"
>
  <input
    id="searchText"
    type="text"
    [(ngModel)]="searchText"
    (ngModelChange)="onSearchChange($event)"
    placeholder="Search by location"
    class="flex-grow rounded-md border border-gray-300 px-3 py-2 text-sm text-gray-700 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500"
  />
  <!-- Filter button & sub-menu container -->
  <div class="relative inline-block text-left" #filterMenu>
    <button
      type="button"
      id="filterButton"
      class="p-2 bg-gray-800 text-gray-400 rounded transition hover:text-white focus:outline-none"
      (click)="onFilterClick()"
    >
      <fa-icon [icon]="faFilter"></fa-icon>
      <span
        *ngIf="currentFilter && currentFilter !== listFilter.ShowAll"
        class="absolute top-0 right-0 h-2 w-2 bg-orange-500 rounded-full"
      ></span>
    </button>

    <!-- Sub-menu -->
    <div
      class="absolute right-0 mt-2 w-32 rounded-md bg-white shadow-lg z-50"
      [ngClass]="{ hidden: !isSubMenuOpen, block: isSubMenuOpen }"
    >
      <button
        class="block w-full px-4 py-2 text-left text-sm text-gray-700 hover:bg-gray-100"
        (click)="onHideEmpty()"
      >
        {{ listFilter.HideEmpty }}
      </button>
      <button
        class="block w-full px-4 py-2 text-left text-sm text-gray-700 hover:bg-gray-100"
        (click)="onShowAll()"
      >
        {{ listFilter.ShowAll }}
      </button>
    </div>
  </div>
</div>
